#collaboration-#{idx}.input-control.text(data-role="input-control")
  input.collaborator(
    type="text"
    name="collaboration"
    placeholder="Collaborator"
    list="collaborator-list"
  )
  datalist#collaborator-list
