<!-- d3-donut-tip.jade -->
span
  | #{cityName}
  | ,
  | #{type}
  br
  | #{count}
  | #{count > 1 ? "Entities," : "Entity,"}
  | #{parseFloat((count / totalCount) * 100).toFixed(2)}
  | %
<!-- end d3-donut-tip.jade -->
