<!-- employment.jade -->
div(id="#employment-" + idx)
  .employment-input.input-control.text(data-role='input-control')
    input.employer(
      list='employment-list'
      name='employment'
      placeholder='Employer'
      style='display:inline-block; width:100%;'
      type='text'
    )
    datalist#employment-list
<!-- end employment.jade -->


