#expense-#{idx}
  .expense-input.input-control.text(data-role="input-control")
    input.expense_amt(
      type="text"
      name="expense_amt"
      placeholder="Amount"
      style="display:inline-block; width: 57%;"
    )
    input.expense_year(
      type="text"
      name="expense_year"
      placeholder="Year"
      style="display:inline-block; width: 20%;"
    )
