<!-- funding-given.jade -->
#fundinggiven-idx
  .fundgiven-input.input-control.text(data-role="input-control")
    input.fundee(
      type="text"
      name="fundgiven"
      placeholder="Fundee"
      style="display:inline-block; width:50%;"
      list="funding-given-list"
    )
    datalist#funding-given-list
    input.fundgiven_amt(
      type="text"
      name="fundgiven_amt"
      placeholder="Amount"
      style="display:inline-block; width: 27%;"
    )
    input.fundgiven_year(
      type="text"
      name="fundgiven_year"
      placeholder="Year"
      style="display:inline-block; width: 20%;"
    )
<!-- end funding-given.jade -->
