<!-- investment-made.jade -->
div(id="#investmentmade-" + idx)
.investmade-input.input-control.text(data-role="input-control")
  input.investee(
    type='text'
    name='investmade'
    placeholder='Investee'
    style='display:inline-block; width:50%;'
    list='investment-made-list'
  )
  datalist#investment-made-list
  input.investmade_amt(
    type='text'
    name='investmade_amt'
    placeholder='Amount'
    style='display:inline-block; width: 27%;'
  )
  input.investmade_year(
    type='text'
    name='investmade_year'
    placeholder='Year'
    style='display:inline-block; width: 20%;'
  )
<!-- end investment-made.jade -->
