div.input-control.text(id="#location-" + idx, data-role="input-control")
  input#location.locations(
    type="text"
    name="location"
    placeholder="City"
    list="list-location"
    style="width:50%;"
  )
  input#state(
    type="text"
    placeholder="State"
    style="width:22%;"
  )
  input#country(
    type="text"
    placeholder="Country"
    style="width:28%;"
  )
