div(id="revenue-" + idx)
  .revenue-input.input-control.text(data-role="input-control")
    input.revenue_amt(
      type="text"
      name="revenue_amt"
      placeholder="Amount"
      style="display:inline-block; width: 57%;"
    )
    input.revenue_year(
      type="text"
      name="revenue_year"
      placeholder="Year"
      style="display:inline-block; width: 20%;"
    )
