<!-- text-display.jade -->
div(style="height: 30px")
  a(style="float: right")
    i#editCurrentInfo.icon-pencil.on-left

h1
  a(href=url, target="_blank")= name

div.category-label Type of entity:
div.category-value= entity_type

div.category-label Location:
if locations
  ul
    for loc in locations
      li
        div.category-value
          a.click-location(style="cursor: pointer")
            = loc.city
            if loc.state
              | ,
              = loc.state
            if loc.country
              | ,
              = loc.country
else
  div.category-value N/A

if isOrganization
  div.category-label Employees:
  div.category-value= employees

div.category-label Twitter:
div.category-value
  if twitter_handle
    a(href=twitterLink, target="_blank")= twitter_handle
  else
    | N/A

div.category-label Twitter Followers:
div.category-value
  if twitter_followers
    = twitter_followers
  else
    | N/A

if key_people
  div.category-label Key People:
  ul
    for person in key_people
      li
        a(href="bingSearchUrl", target="_blank")= person

if funding
  div.category-label Funding:
  ul
    for funder in funding
      li
        div.category-value
          a(href="bingSearchUrl", target="_blank")
            = funder.entity
            | :
          if funder.amount
            strong(style="color: rgb(127,186,0)") = funder.amount
          else
            strong(style="color: rgb(255,185,0)") unknown
else
  div.category-label No known funding received or given.

if investments
  div.category-label Investment:
  ul
    for investment in investments
      li
        div.category-value
          a(href="bingSearchUrl", target="_blank")= investment.entity
            | :
          if investment.amount
            strong(style="color: rgb(127,186,0)") = investment.amount
          else
            strong(style="color: rgb(255,185,0)") unknown
else
  div.category-label No known investments.

if collaborations
  div.category-label Collaborated with:
  ul
    for collaboration in collaborations
      li
        a(href="bingSearchUrl", target="_blank")= collaboration.entity
else
  div.category-label No known collaborations.

if data
  div.category-label Obtained data from:
  ul
    for datum in data
      li
        a(href="bingSearchUrl", target="_blank")= datum.entity
else
  div.category-label No known external data usage.

if revenue
  div.category-label Revenue:
  ul
    for rev in revenue
      li
        if rev.year
          div.category-value
            = rev.year
            | :
          if rev.amount
            strong(style="color: rgb(127,186,0)")= rev.amount
          else
            strong(style="color: rgb(255,185,0)") unknown
        else
          div.category-value Unknown Year:
          if rev.amount
            strong(style="color: rgb(127,186,0)")= rev.amount
          else
            strong(style="color: rgb(255,185,0)") unknown
else
  div.category-label No known revenue information.

if expenses
  div.category-label Expenses:
  ul
    for exp in expenses
      li
        if exp.year
          div.category-value
            = exp.year
            | :
          if exp.amount
            strong(style="color: rgb(127,186,0)")= exp.amount
          else
            strong(style="color: rgb(255,185,0)") unknown
        else
          div.category-value Unknown Year:
          if exp.amount
            strong(style="color: rgb(127,186,0)")= exp.amount
          else
            strong(style="color: rgb(255,185,0)") unknown
else
  div.category-label No known expense information.
<!-- end text-display.jade -->
